# Staistical Inferential on Diabetics Patients

In [5]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro,bartlett, f_oneway, chisquare,chi2_contingency
import seaborn as sns

In [7]:
data= pd.read_csv('prima-indians-diabetes.csv')

In [8]:
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [9]:
data.columns= ['No. of times Pregnant', 'glucose concentration', 'Blood pressure', 'Skin Thickness', 
               'Insulin', 'Body Mass Index', 'Diabetes Pedigree Function', 'Age', 'Class']

In [10]:
data.head()

,No. of times Pregnant,glucose concentration,Blood pressure,Skin Thickness,Insulin,Body Mass Index,Diabetes Pedigree Function,Age,Class
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0

In [12]:
data.shape

(767, 9)

In [15]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
No. of times Pregnant,767.0,3.842243,3.370877,0.000,1.0000,3.000,6.000,17.00
glucose concentration,767.0,120.859192,31.978468,0.000,99.0000,117.000,140.000,199.00
Blood pressure,767.0,69.101695,19.368155,0.000,62.0000,72.000,80.000,122.00
Skin Thickness,767.0,20.517601,15.954059,0.000,0.0000,23.000,32.000,99.00
Insulin,767.0,79.903520,115.283105,0.000,0.0000,32.000,127.500,846.00
Body Mass Index,767.0,31.990482,7.889091,0.000,27.3000,32.000,36.600,67.10
Diabetes Pedigree Function,767.0,0.471674,0.331497,0.078,0.2435,0.371,0.625,2.42
Age,767.0,33.219035,11.752296,21.000,24.0000,29.000,41.000,81.00
Class,767.0,0.348110,0.476682,0.000,0.0000,0.000,1.000,1.00

In [16]:
data.isnull().sum()

No. of times Pregnant         0
glucose concentration         0
Blood pressure                0
Skin Thickness                0
Insulin                       0
Body Mass Index               0
Diabetes Pedigree Function    0
Age                           0
Class                         0
dtype: int64

In [18]:
data['Class'].value_counts()

0    500
1    267
Name: Class, dtype: int64

In [20]:
a2= data.groupby('Class')   # grouped on basis of class 1 and zero.

In [21]:
a21=a2.get_group(1)

In [22]:
a20=a2.get_group(0)

In [23]:
#This is 2 sample test.
# Here sample is unpaired.
# We will now check the assumptions: (1) data is normal (2) both group have same varience

shapiro(a21['Body Mass Index'])   #normality test

(0.9287261962890625, 5.014447745921302e-10)

In [25]:
shapiro(a20['Body Mass Index'])   #normality test

(0.9431474804878235, 6.528744558864652e-13)

In [24]:
# In both the cases pvalue is much lower than 0.05. So, here we conclude that Data is not normal.

In [26]:
levene(a21['Body Mass Index'],a20['Body Mass Index'])

LeveneResult(statistic=2.4770262476978173, pvalue=0.11593393660874851)

In [30]:
# pvalue is shows that variance for both the groups are equal.
# we have checked that data is not  normal.
#We will go  for non-parametric test
# data is unpaired as well.
# So, we will go for mannwhitneyu test.

Null Hypothesis (H0): two classes have same mean i.e. dosen't have effect on diabetes.
Alternate Hypothesis (HA): two classes have different meeans i.e. have significant effect on diabetes.

In [31]:
stat, p_value= mannwhitneyu(a21['Body Mass Index'],a20['Body Mass Index'])

In [32]:
print(p_value)

5.1903025963947385e-18

Here we see that pvalue is much much lower than 0.05. So, we reject null hypothesis and accept alternate hypothesis.
Hence, Body Mass Index is having a significant effect on Diabetes.

In [33]:
#Next part

In [36]:
# ‘Age’, factor affecting the Disease.

In [38]:
#This is 2 sample test.
# Here sample is unpaired.
# We will now check the assumptions: (1) data is normal (2) both group have same varience

In [39]:
shapiro(a21['Age'])   #normality test

(0.9540051817893982, 1.8226582199076802e-07)

In [40]:
shapiro(a20['Age'])   #normality test

(0.8011691570281982, 2.6708481417438164e-24)

In [43]:
# In both the cases pvalue is much lower than 0.05. So, here we conclude that Data is not normal.

levene(a21['Age'],a20['Age'])

LeveneResult(statistic=2.1324781179153964, pvalue=0.14461799866543534)

In [ ]:
# pvalue is shows that variance for both the groups are equal.
# we have checked that data is not  normal.
#We will go  for non-parametric test
# data is unpaired as well.
# So, we will go for mannwhitneyu test.

Null Hypothesis (H0): two classes have same mean i.e. dosen't have effect on diabetes.
Alternate Hypothesis (HA): two classes have different meeans i.e. have significant effect on diabetes.

In [44]:
stat, p_value= mannwhitneyu(a21['Age'],a20['Age'])

print(p_value)

8.706518598543668e-18

Here we see that pvalue is much much lower than 0.05. So, we reject null hypothesis and accept alternate hypothesis.
Hence, Age is having a significant effect on Diabetes.